// bower:scss
// endbower

// Custom imports & styles here.

@import "web-fonts";
@include web-fonts(("Open Sans":("400","700")));

$basefont: "Open Sans";

body {
	background: #fefefe;
	color: #444;
	font-family: $basefont;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: $basefont;
}

#container {
	margin: 0 auto;
	width: 600px;
	height: 700px;
	background: #fff;
	position: relative;
}

#vis-control {
	padding: 20px;
	overflow: hidden;
	.vis-group {
		margin: 10px 0;
		clear: both;
		display: block;
		overflow: hidden;
	}
	.vis-filter {
		width: 25%;
		float: left;
		font-size: 10px;
		text-transform: uppercase;
		.title {
			font-weight: 700;
			font-size: 12px;
		}
		label {
			cursor: pointer;
		}
	}
	#vis-time-play {
		width: 15%;
		float: left;
	}
	#vis-time-range {
		width: 80%;
		float: left;
	}
}

#vis-wrapper {
	position: relative;
	background: transparent;
	z-index: 2;
	.nodes_uf,
	.node {
		cursor: pointer;
	}
}

#vis-tip {
	position: absolute;
	top: 500px;
	left: 300px;
	text-align: center;
	width: 240px;
	height: 120px;
	margin-top: -60px;
	margin-left: -120px;
	font-size: 12px;
	line-height: 1.5em;
	z-index: 1;
	.candidato {
		font-size: 18px;
	}
	.categoria, .data {
		text-transform: uppercase;
		color: #999;
	}
}