// bower:scss
// endbower

// Custom imports & styles here.

$basefont: "Lato";
$basefont_weight: 700;


@import "web-fonts";
@include web-fonts(($basefont:("400",$basefont_weight)));

body {
	background: #fefefe;
	color: #444;
	font-family: $basefont;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: $basefont;
}

#container {
	margin: 0 auto;
	width: 600px;
	height: auto;
	background: #fff;
	position: relative;
}

.vis-control {
	//padding: 20px;
	overflow: hidden;
	.vis-group {
		clear: both;
		display: block;
		overflow: hidden;
		margin-left: 5px;
	}
	.vis-filter {
		width: 20%;
		float: left;
		font-size: 10px;
		text-transform: uppercase;
		&.right {
			float: right;
		}
		.title {
			font-weight: $basefont_weight;
			margin-bottom: 5px;
			display: block;
		}
		label {
			cursor: pointer;
		}
	}
	.vis-timeline {
		
	}
	.vis-time-date {
		color: #999;
		margin-left: 5px;
		margin-bottom: 5px;
		font-size: 20px;
		font-weight: $basefont_weight;
		text-transform: uppercase;
		.timestamp {
			color: #eee;
		}
	}
}

.range-timeline {
	.slider {
		cursor: pointer;
	}
	.play-button {
		cursor: pointer;
		&:hover{
			.play-button-bg {
				fill: #ddd;
			}
		}
		&.play{
			.icon-play {
				display: none;
			}
			.icon-pause {
				display: block;
			}
		}
		.icon-pause {
			display: none;
		}
	}
}

#vis-wrapper {
	position: relative;
	background: transparent;
	height: 700px;
	z-index: 2;
	.nodes_uf{
		cursor: pointer;
	}
	.node {
		cursor: pointer;
		&:hover {
			stroke: #000;
			stroke-width: 2px;
		}
	}
}

#vis-filter-candidatos {
	position: absolute;
	width: 110px;
	top: 90px;
	right: 0;
	z-index: 5;
}
#vis-filter-vis {
	position: absolute;
	width: 110px;
	top: 90px;
	left: 0;
	z-index: 5;
}
#vis-label-ext {
	position: absolute;
	top: 90px;
	left: 250px;
	font-size: 10px;
	color: #999;
	text-transform: uppercase;
}

#vis-tip {
	position: absolute;
	top: 430px;
	left: 300px;
	text-align: center;
	width: 220px;
	height: 120px;
	margin-top: -60px;
	margin-left: -110px;
	font-size: 12px;
	line-height: 1.5em;
	z-index: 1;
	.candidato {
		font-size: 18px;
		margin: .5em;
	}
	.categoria, .data {
		text-transform: uppercase;
		color: #999;
	}
}

#vis-control-2 {
	height: 30px;
}

.vis-footer {
	color: #555;
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;
	overflow: hidden;
	dl {
		float: left;
		font-size: 12px;
		padding: 0;
		margin: 0;
		margin-right: 20px;
		dt {
			font-weight: $basefont_weight;
		}
		dd {
			margin: 0;
			padding: 0;
		}
	}
}