// bower:scss
// endbower

// Custom imports & styles here.

body {
	background: #222;
}

#vis-control {
	padding: 100px 0 0;
	label {
		color: #fff;
	}
	#vis-time-range {
		width: 100%;
	}
}

#vis-wrapper {
	background: #222;
	margin: 100px auto;
	width: 900px;
	.nodes_uf,
	.node {
		cursor: pointer;
	}
}